html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  flex: 1; /* Makes the map take remaining space */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}